.hd-reponsive {
    display: none;
}
/* hd-top */
.hd-top {
    display: inline-block;
    height: 46px;
    font-size: 14px;
    color: #fff;
    background-color: #1d1d1d;
    box-sizing: border-box;
    width: 100%;
}
.hd-top-grid {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    line-height: 46px;
    font-size: 15px;
}
.hd-top__left {
    float: left;
}
.hd-top__right {
    float: right;
}
.user-btn a {
    color: #fff;
    padding: 0px 15px;
    transition-delay: 0.2s;
}
.user-btn a i {
    padding-right: 5px;
}
.user-btn a:hover {
    color: #ff1949;
    text-decoration: none;
}
/* hd-top end */
/* hd-area */
.hd-area {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}
.hd-area-grid {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.logo img {
    width: 150px;
}
.hd-area__right{
    margin-right:50px;
    display: flex;
    align-items: center;
    height: 100%;
}
nav.navigation {
    vertical-align: middle;
    float: left;
    position: relative;
    height: 50px;
    display: flex;
}
ul.menu {
    display: flex;
    justify-content: center;
    line-height: 90px;
}
ul.menu li {
    list-style: none;
}
ul.menu li a {
    padding: 0 24px;
    color: #252525;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
ul.menu li a:hover {
    color: #EA215A;
    text-decoration: none;
}
.btn-unique {
    color: #fff;
    background-color: #59698d !important;
    padding: 8px 10px;
}
.form-inline{
    padding-top: 22px;
}
.btn-drop {
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    position: relative;
}
.btn-drop:active {
    border: none;
    outline: none;
}
.btn-drop:focus {
    border: none;
    outline: none;
}
.dropdown{
    position: absolute;
    top: 15px;
    right: -56px;
    background-color: transparent;
}
.dropdown img{
    width: 50px;
}
/* hd-area end  */